In [1]:
import pandas as pd

In [2]:
csv_path_happiness = "Resources/2017_happiness.csv"
csv_path_libraries = "Resources/lmw_data_09_Feb_2021.csv"

happiness_df = pd.read_csv(csv_path_happiness)
libraries_df = pd.read_csv(csv_path_libraries, encoding='latin-1')

In [3]:
happiness_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [30]:
libraries_df = libraries_df.loc[(libraries_df["Data Year"] == "2017"), :]
libraries_df = libraries_df.dropna()

#libraries_df.drop(libraries_df[libraries_df["Metric Data"]=="NaN"].index, inplace=True)

#library_df = libraries_df.drop(libraries_df[libraries_df["Metric Data"] == "NaN"].index, inplace=False)

#test_df = libraries_df.loc[libraries_df["Metric Data"]=="NaN", :]
libraries_df

#test_df

,Library Type,Region,Country or Area,M49 Code,Metric,Metric Data,Data Year
33,Academic,Europe,Belgium,56,Libraries,140,2017
34,Academic,Europe,Belgium,56,Internet_Access,140,2017
35,Academic,Europe,Belgium,56,Staff,502,2017
37,Academic,Europe,Belgium,56,Users,239338,2017
38,Academic,Europe,Belgium,56,Visits,5441703,2017
...,...,...,...,...,...,...,...
8614,Other,Oceania,Australia,36,Internet_Access,2350,2017
8624,Other,Oceania,Kiribati,296,Libraries,10,2017
8625,Other,Oceania,Kiribati,296,Internet_Access,1,2017
8626,Other,Oceania,Kiribati,296,Staff,7,2017
8627,Other,Oceania,Kiribati,296,Volunteers,0,2017

In [7]:
combined_df = pd.merge(happiness_df, libraries_df, how='left', left_on=["Country"], right_on=["Country or Area"])
combined_df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Library Type,Region,Country or Area,M49 Code,Metric,Metric Data,Data Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Community,Europe,Norway,578.0,Libraries,NaN,2017
1,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Community,Europe,Norway,578.0,Internet_Access,NaN,2017
2,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Community,Europe,Norway,578.0,Staff,NaN,2017
3,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Community,Europe,Norway,578.0,Volunteers,NaN,2017
4,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Community,Europe,Norway,578.0,Users,NaN,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,Public,Africa,Burundi,108.0,Internet_Access,1,2017
962,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,Public,Africa,Burundi,108.0,Staff,2,2017
963,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,Public,Africa,Burundi,108.0,Volunteers,0,2017
964,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,Public,Africa,Burundi,108.0,Visits,5400,2017
965,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
combined_df = combined_df.dropna()
combined_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Library Type,Region,Country or Area,M49 Code,Metric,Metric Data,Data Year
12,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,National,Europe,Iceland,352.0,Staff,70,2017
14,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Academic,Europe,Finland,246.0,Libraries,152,2017
15,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Academic,Europe,Finland,246.0,Internet_Access,152,2017
16,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Academic,Europe,Finland,246.0,Staff,1307,2017
17,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Academic,Europe,Finland,246.0,Users,1073494,2017

In [37]:
library_visits_df = libraries_df.loc[libraries_df["Metric"]=="Visits", :]

#library_visits_df.dropna()
library_visits_df["Metric Data (INT)"] = library_visits_df["Metric Data"].astype(int)


#library_visits_df.head(100)
type_group_df = library_visits_df.groupby(["Library Type"]).sum()

type_group_df

C:\Users\pamme\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

              M49 Code  Metric Data (INT)
Library Type
Academic         10306          155850188
Community         1612            2548722
National          8095           18465884
Other             3868            3549043
Public           12889          314054339
School            3256          135045600